<header class="site">
  <div class="wrap nav">
    <a class="logo mono" href="/" style="font-weight:500;font-size:15px"><span style="color:var(--ink-3)">behind</span><span style="display:inline-block;width:2px;height:16px;background:var(--ink);border-radius:1px;margin:0 7px;vertical-align:-2px"></span><span>the watt</span></a>
    <nav class="nav-links">
      <a href="#tracker">Tracker</a>
      <a href="#announcements" class="hide-m">Announcements</a>
      <a href="#ttp" class="hide-m">Time to power</a>
      <a href="#calc" class="hide-m">Calculator</a>
      <a href="#data" class="btn">Take the data</a>
    </nav>
  </div>
</header>
